<!doctype html>
<html lang="en" ng-app="ToDo">
<head>
	<meta charset="UTF-8">
	<title>Angular Todo</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<style>
		.done{text-decoration: line-through; color:#ccc;}
	</style>
</head>

<body>
	<!-- Todo App Html -->

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

					<div ng-controller="todoController">

						<form name="frm" ng-submit="addTodo()">
							<input type="text" name="newTodo" ng-model="newTodo" required />
							<button ng-disabled="frm.$invalid">Go</button>
						</form>

						<button ng-click="clearCompleted()">Clear Completed</button>

						<ul>
							<li ng-repeat="todo in todos">
								<input type="checkbox" ng-model="todo.done">
								<span ng-class="{'done':todo.done}">{{todo.title}}</span>
							</li>
						</ul>
					</div>

			</div>
		</div>
	</div>

	<!-- All JS Fromn Here -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>
		angular.module('ToDo',[]).
		controller('todoController',['$scope',function($scope){
			$scope.todos = [
				{'title':'Build a todo app','done':false}
			];

			$scope.addTodo = function(){
				$scope.todos.push({'title': $scope.newTodo, 'done':false})
				$scope.newTodo = ''
			}

			$scope.clearCompleted = function(){
				$scope.todos = $scope.todos.filter(function(item){
					return !item.done
				})
			}

		}])
	</script>

</body>
</html>